.icon-1 { background-image: url("assets/icons/pdfменю.svg"); }
.icon-2 { background-image: url("assets/icons/ідея.svg"); }
.icon-3 { background-image: url("assets/icons/баранчик.svg"); }
.icon-4 { background-image: url("assets/icons/бутер.svg"); }
.icon-5 { background-image: url("assets/icons/вафля.svg"); }
.icon-6 { background-image: url("assets/icons/дируни.svg"); }
.icon-7 { background-image: url("assets/icons/думка.svg"); }
.icon-8 { background-image: url("assets/icons/зріст.svg"); }
.icon-9 { background-image: url("assets/icons/квітка.svg"); }
.icon-10 { background-image: url("assets/icons/книга рецептів.svg"); }
.icon-11 { background-image: url("assets/icons/книга ще.svg"); }
.icon-12 { background-image: url("assets/icons/кнопка.svg"); }
.icon-13 { background-image: url("assets/icons/корисно.svg"); }
.icon-14 { background-image: url("assets/icons/місце їжі.svg"); }
.icon-15 { background-image: url("assets/icons/меню1.svg"); }
.icon-16 { background-image: url("assets/icons/пательня.svg"); }
.icon-17 { background-image: url("assets/icons/пельмені.svg"); }
.icon-18 { background-image: url("assets/icons/перекуси.svg"); }
.icon-19 { background-image: url("assets/icons/перший еран лого.svg"); }
.icon-20 { background-image: url("assets/icons/питання.svg"); }
.icon-21 { background-image: url("assets/icons/подарунок.svg"); }
.icon-22 { background-image: url("assets/icons/рішення є.svg"); }
.icon-23 { background-image: url("assets/icons/рецепти вивіска.svg"); }
.icon-24 { background-image: url("assets/icons/рецепти.svg"); }
.icon-25 { background-image: url("assets/icons/смачний .svg"); }
.icon-26 { background-image: url("assets/icons/суп.svg"); }
.icon-27 { background-image: url("assets/icons/суши.svg"); }
.icon-28 { background-image: url("assets/icons/тако.svg"); }
.icon-29 { background-image: url("assets/icons/час готувати.svg"); }
.icon-30 { background-image: url("assets/icons/час.svg"); }
.icon-31 { background-image: url("assets/icons/яйце.svg"); }
